<div class="container">
  <div class="flex-one ">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a leo dictum, rutrum nibh quis, condimentum augue. Donec ultricies nunc ex, sit amet egestas erat faucibus eget. Morbi vitae quam eleifend ligula laoreet ornare. Fusce efficitur ex mi, a vulputate enim ultrices non. Aenean accumsan massa vitae lorem sagittis luctus. In lacinia accumsan auctor. Duis vulputate orci quis sapien suscipit volutpat. Praesent maximus, nisi vitae consequat ultrices, est massa viverra justo, vel iaculis lacus augue et orci. Mauris ut lacus bibendum nulla tempus aliquam non non mi. Maecenas id tristique ipsum. Nulla rutrum semper enim, eget suscipit lectus luctus a. Vestibulum sit amet dignissim ante, id cursus ex.
  </div>
  <div class="flex-one half-screen-size">
    <img src="assets/images/_886bb36c-3d21-460d-8b5c-ed79a783477d.jpg" alt="awesome image">
  </div>
</div>
<div class="container">
  <div class="flex-one">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc a leo dictum, rutrum nibh quis, condimentum augue. Donec ultricies nunc ex, sit amet egestas erat faucibus eget. Morbi vitae quam eleifend ligula laoreet ornare. Fusce efficitur ex mi, a vulputate enim ultrices non. Aenean accumsan massa vitae lorem sagittis luctus. In lacinia accumsan auctor. Duis vulputate orci quis sapien suscipit volutpat. Praesent maximus, nisi vitae consequat ultrices, est massa viverra justo, vel iaculis lacus augue et orci. Mauris ut lacus bibendum nulla tempus aliquam non non mi. Maecenas id tristique ipsum. Nulla rutrum semper enim, eget suscipit lectus luctus a. Vestibulum sit amet dignissim ante, id cursus ex.
  </div>
  <div class="flex-one">
    <img src="assets/images/_b3354a83-cc98-4115-9ab1-d876c040640a.jfif" alt="awesome image" width="700">
  </div>
</div>
<div class="container">
  <img src="assets/images/vecteezy_green-wave-banner-template-design_8210604.svg" alt="awesome image" class="screen-size">
</div>
