<h1 class="p-2">Les services proposés par Green Oak Corporation</h1>
<p-tabView>
  <p-tabPanel header="Préparation de verger">
    <div class="grid">
      <div class="col p-3">
        <p>
          Avant tout travail, le sol doit être nettoyé, la végétation existante sera broyée et évacuée si nécessaire nettoyage de la surface du sol.
        </p>
        <p>
          A partir des plans, l’implantation exacte des végétaux est matérialisée sur le terrain par des piquets (piquetage).
        </p>
        <p>
          L’ameublissement de la terre permet une bonne circulation de l’eau, de l’air et des racines dans le sol. Le décompactage est souvent nécessaire et selon les besoins, le sol pourra être drainé et amendé. Ces travaux suivis d’un labour et des façons superficielles du sol. Le travail du sol doit impérativement être effectué lorsque le  sol est bien sec en fin d’été (ne jamais travailler un sol humide au risque de le compacter davantage) (Bonnardot et Boutaud, 2001).
        </p>
        <p>
          Une bonne terre est silico-argileuse, profonde fertile, convient à la plupart des arbres et des arbustes fruitiers. Mais il est bien rare de rencontrer ce sol idéal. Comme il n’est pas aisé de déterminer soi-même le type de sol de jardin, le mieux est d’effectuer les prélèvements nécessaires de sol et de sous-sol et de faire procéder à une analyse du sol (Anonyme, 1997).
        </p>
      </div>
      <div class="col">
        <img src="assets/images/services/preparation_verger.jpg" alt="Préparation de verger par Green Oak Corporation" class="w-12">
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Trufficulture">
    <div class="grid">
      <div class="col">
        <img src="assets/images/services/Guide-trufficulture-engrais-planter-1200x1200.jpg" alt="Trufficulture" class="w-12">
      </div>
      <div class="col p-3">
        <p>
          Même si l'opération de base demeure un geste agricole simple à réaliser, un certain nombre de paramètres sont à considérer avant de planifier l'installation d'un verger truffier.
          Car si l'arbre poussera quasiment à coup sûr, l'itinéraire cultural amenant à la production de truffes est un équilibre plus subtil à réaliser.
        </p>
        <p>
          Ce guide pratique abordera toutes les étapes, tous les sujets, toutes les questions que se pose un futur trufficulteur avant de se lancer dans l'aventure.
          Après une rapide situation biologique des espèces de truffes, seront abordés les paramètres clefs : le sol, le climat et l'environnement.
        </p>
        <p>
          L'étude de la dynamique des truffières et des itinéraires techniques apporteront ensuite au lecteur une base de connaissance utile pour réaliser sa plantation : quel type d'arbre ? quel écartement ? quelle densité ? à quelle époque ? …
        </p>
        <p>
          Une fois installé, toutes les phases de l'entretien d'un verger sont également examinées : l'arrosage, la taille, la fertilisation et les amendements mais aussi la protection contre les parasites et ravageurs.
        </p>
        <p>
          Les conditions et moyens de récoltes (dressage du chien) feront l'objet d'un petit développement et, en conclusion, seront abordées les questions fiscales et comptables.
        </p>
      </div>
    </div>
  </p-tabPanel>
  <p-tabPanel header="Paysagiste">
    <div class="grid">
      <div class="col">
        <img src="assets/images/services/architecte-paysagiste.jpg" alt="Paysagiste" class="w-12">
      </div>
      <div class="col p-3">
        <p>
          Fort d’une organisation efficace et concluante depuis plus de 30 ans, Green Oak Corporation associe :
        </p>
        <ul>
          <li>des moyens adaptés à la réalisation des travaux en tenant compte des contraintes spécifiques au chantier</li>
          <li>la qualité de réalisation : le personnel met en oeuvre tout son savoir-faire au profit de la clientèle afin de garantir les meilleurs prestations dans les règles de l’art et avec la passion du métier</li>
          <li>la qualité des matériaux : la sélection des fournisseurs dès la phase étude et la production de documents de validation par le maître d’ouvrage</li>
          <li>l’organisation du chantier et la coordination avec les autres corps de métier, vous garantissant une livraison dans les délais attendus</li>
          <li>une démarche environnementale : l’environnement est un véritable moteur de compétitivité et de différenciation qualitative</li>
        </ul>
      </div>
    </div>
  </p-tabPanel>
</p-tabView>
